@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

:root, body {
    margin: 0;
    height: 100%;
}

/* Background */ 

:root {
    /* Image by Glenov Brankovic -- Unsplash.com */
    background: url('./images/bg-image-main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
}


body {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Header  */

#nav { 
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 12.87px;
}

.name {
    color: #ffc100;
    font-size: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "Sacramento", cursive;
}

/* general button styles */

.btn {
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: #ffffffBF;
    transition: all 0.2s linear;

    &:hover {
        color: #ffffff;
    }
}

/* Homepage */

.homepage, .contacts-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.description {
    font-size: 1.1rem;
    color: #ffffff;
    width: 90ch;
    margin-top: 5vh;
}

.description p:first-of-type {
    font-size: 2.5rem;
}

.description p:first-of-type + p {
    font-size: 1.5rem;
}

.home-btns-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    margin-bottom: 15vh;
}

/* homepage-specific button styles */

.home-btn {
    font-size: 1.5rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 1rem;
    
    &:hover {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Contacts page */

.contacts-page {
    justify-content: start;
}

.contacts-page-container {
    font-size: 3rem;
    color: #ffffff;
    margin-top: 3rem;
}

.contacts-page-container p {
    margin: 0;
}

.contact-svg {
    width: 3rem;
    fill: #ffffff;
}

/* About us page */

.about-us-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    color: #ffffff;
    font-size: 3rem;
}

.about-us-page p {
    text-shadow: 0 2px 16px #ffc100;
}